@each $name, $color in $colors {
    .color-#{$name} {
        color: $color;
    }
    .bck-#{$name} {
        background-color: $color;
    }
    .color-hover-#{$name}:hover {
        color: $color;
    }
    .bck-hover-#{$name}:hover {
        background-color: $color;
    }
}