.d-flex-row {
    flex-direction: row !important;
}

.d-flex-row-reverse {
    flex-direction: row-reverse !important;
}

.d-flex-column {
    flex-direction: column !important;
}

.d-flex-column-reverse {
    flex-direction: column-reverse !important;
}

.d-flex-justify-content-start {
    justify-content: flex-start !important;
}

.d-flex-justify-content-center {
    justify-content: center !important;
}

.d-flex-justify-content-end {
    justify-content: flex-end !important;
}

.d-flex-justify-content-space-between {
    justify-content: space-between !important;
}

.d-flex-justify-content-space-around {
    justify-content: space-around !important;
}

.d-flex-justify-content-space-evenly {
    justify-content: space-evenly !important;
}

.d-flex-align-items-stretch {
    align-items: stretch !important;
}

.d-flex-align-items-flex-start {
    align-items: flex-start !important;
}

.d-flex-align-items-center {
    align-items: center !important;
}

.d-flex-align-items-flex-end {
    align-items: flex-end !important;
}

.d-flex-align-items-baseline {
    align-items: baseline !important;
}
