@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700");

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;

}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.2;

}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;

}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;

}

h1 {
    letter-spacing: 0.025rem;
}

p,
article,
blockquote {
    font-size: 1rem;
    line-height: 2;

}

p.lead {
    font-size: 1.2rem;
}

blockquote {
    background-color: #f8f9fa;
    border-left: 5px solid #e9ecef;
    border-radius: 3px;

    padding: 1rem 2rem;
}

blockquote.text-large {
    font-size: 1.15rem;
}

blockquote p {
    margin: 0;
}

cite {
    opacity: 0.7;
}

mark,
.mark {
    padding: 0.2em;
    background-color: #f0e8c4;
}

.headline-1 {
    font-size: 8.5rem;
    letter-spacing: 0.05rem;
}

.headline-2 {
    font-size: 7.5rem;
    letter-spacing: 0.05rem;
}

.headline-3 {
    font-size: 6.5rem;
    letter-spacing: 0.05rem;
}

.headline-4 {
    font-size: 5.5rem;
    letter-spacing: 0.05rem;
}

.font-alt {
    font-family: 'Nunito Sans';
}

.content h1 {
    line-height: 1.125em;
}

.content h2 {
    line-height: 1.125em;
}

.content h3 {
    line-height: 1.125em;
}

.content h4 {
    line-height: 1.125em;
}

.content h5 {
    line-height: 1.125em;
}

.content h6 {
    line-height: 1.125em;
}

.card-tile p,
.card-tile article,
.card-tile blockquote {
    line-height: inherit;
}

.font-thin {
    font-weight: 200;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.rtl {
    direction: rtl;
}

.white {
    color: #fff !important;
}

.faded {
    opacity: 0.75;
}

.font-italic {
    font-style: italic;
}

.icon {
    display: inline-block;
    text-align: center;
    width: 1.5rem;
    vertical-align: baseline;
}

.icon.x-small {
    margin: 0.55rem 0 0 0.1rem;
}

.icon.small {
    margin: 0.95rem 0 0 0.1rem;
}

.icon .fa-wrapper {
    font-size: inherit;
}

.info {
    display: block;
    font-size: 0.85rem;
    margin-top: 0.25rem;
    color: #868e96;
}

.info.inline {
    display: inline-block;
    margin-left: 0.5rem;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

abbr[title] {
    border-bottom: 0.1rem dotted;
    cursor: help;
    text-decoration: none;
}

kbd {
    background-color: map-get($colors, "dark");
    border-radius: 0.2rem;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 0.5rem;
    vertical-align: baseline;
}

@media (max-width: 650px) {
    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    h6 {
        font-size: 1rem;
    }

    .headline-1 {
        font-size: 3.75rem;
    }

    .headline-2 {
        font-size: 3.5rem;
    }

    .headline-3 {
        font-size: 3.25rem;
    }

    .headline-4 {
        font-size: 3rem;
    }
}

@each $sizeName, $sizeRatio in ("025":0.25, "05":0.5, "075":0.75, "1":1, "15":1.5, "2":2, "3":3, "4":4, "5":5) {
    .font-size-x#{$sizeName} {
        font-size: #{$sizeRatio}rem;
    }
}