input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']), select {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 3px;
    font-family: 'Nunito Sans';
    font-size: 1rem;
    letter-spacing: 0.02rem;
    transition: all 0.3s;
    outline: none;
    padding: 0.85rem 1.1rem;
    z-index: 1;
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']) {
    &.input-xsmall, select.input-xsmall {
        font-size: 0.7rem;
        padding: 0.35rem 0.9rem;
    }
}

select {
    &.input-xsmall, select.input-xsmall {
        font-size: 0.7rem;
        padding: 0.35rem 0.9rem;
    }
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']) {
    &.input-small, select.input-small {
        font-size: 0.85rem;
        padding: 0.55rem 1rem;
    }
}

select {
    &.input-small, select.input-small {
        font-size: 0.85rem;
        padding: 0.55rem 1rem;
    }
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']) {
    &.input-large, select.input-large {
        font-size: 1.35rem;
    }
}

select {
    &.input-large, select.input-large {
        font-size: 1.35rem;
    }
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']) {
    &.input-xlarge, select.input-xlarge {
        font-size: 1.75rem;
    }
}

select {
    &.input-xlarge, select.input-xlarge {
        font-size: 1.75rem;
    }
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']) {
    &.input-contains-icon, &.input-contains-icon-left {
        padding-left: 2.75rem;
    }
}

select {
    &.input-contains-icon, &.input-contains-icon-left {
        padding-left: 2.75rem;
    }
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']).input-contains-icon-right, select.input-contains-icon-right {
    padding-right: 2.75rem;
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']) {
    &.input-contains-icon.input-xsmall, &.input-contains-icon-right.input-xsmall {
        padding-left: 2rem;
    }
}

select {
    &.input-contains-icon.input-xsmall, &.input-contains-icon-right.input-xsmall {
        padding-left: 2rem;
    }
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']) {
    &.input-contains-icon.input-xsmall ~ .icon, &.input-contains-icon-left.input-xsmall ~ .icon, &.input-contains-icon-right.input-xsmall ~ .icon.icon-right {
        line-height: 1.75rem;
        width: 1.75rem;
        font-size: 7px;
    }
}

select {
    &.input-contains-icon.input-xsmall ~ .icon, &.input-contains-icon-left.input-xsmall ~ .icon, &.input-contains-icon-right.input-xsmall ~ .icon.icon-right {
        line-height: 1.75rem;
        width: 1.75rem;
        font-size: 7px;
    }
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']) {
    &.input-contains-icon.input-small, &.input-contains-icon-right.input-small {
        padding-left: 2.5rem;
    }
}

select {
    &.input-contains-icon.input-small, &.input-contains-icon-right.input-small {
        padding-left: 2.5rem;
    }
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']) {
    &.input-contains-icon.input-small ~ .icon, &.input-contains-icon-left.input-small ~ .icon, &.input-contains-icon-right.input-small ~ .icon.icon-right {
        width: 2.5rem;
        font-size: 14px;
    }
}

select {
    &.input-contains-icon.input-small ~ .icon, &.input-contains-icon-left.input-small ~ .icon, &.input-contains-icon-right.input-small ~ .icon.icon-right {
        width: 2.5rem;
        font-size: 14px;
    }
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']) {
    &.input-contains-icon.input-large, &.input-contains-icon-right.input-large {
        padding-left: 3.5rem;
    }
}

select {
    &.input-contains-icon.input-large, &.input-contains-icon-right.input-large {
        padding-left: 3.5rem;
    }
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']) {
    &.input-contains-icon.input-large ~ .icon, &.input-contains-icon-left.input-large ~ .icon, &.input-contains-icon-right.input-large ~ .icon.icon-right {
        line-height: 3.5rem;
        width: 3.5rem;
        font-size: 28px;
    }
}

select {
    &.input-contains-icon.input-large ~ .icon, &.input-contains-icon-left.input-large ~ .icon, &.input-contains-icon-right.input-large ~ .icon.icon-right {
        line-height: 3.5rem;
        width: 3.5rem;
        font-size: 28px;
    }
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']) {
    &.input-contains-icon.input-xlarge, &.input-contains-icon-right.input-xlarge {
        padding-left: 4rem;
    }
}

select {
    &.input-contains-icon.input-xlarge, &.input-contains-icon-right.input-xlarge {
        padding-left: 4rem;
    }
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']) {
    &.input-contains-icon.input-xlarge ~ .icon, &.input-contains-icon-left.input-xlarge ~ .icon, &.input-contains-icon-right.input-xlarge ~ .icon.icon-right {
        line-height: 2.5rem;
        width: 3.75rem;
        font-size: 35px;
    }
}

select {
    &.input-contains-icon.input-xlarge ~ .icon, &.input-contains-icon-left.input-xlarge ~ .icon, &.input-contains-icon-right.input-xlarge ~ .icon.icon-right {
        line-height: 2.5rem;
        width: 3.75rem;
        font-size: 35px;
    }
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']) {
    &[type='search'], &.search {
        background-repeat: no-repeat;
        background-position: left 0.6rem center;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path opacity="0.45" d="M14.891,14.39l-0.5.5a0.355,0.355,0,0,1-.5,0L9.526,10.529a5.3,5.3,0,1,1,2.106-4.212,5.268,5.268,0,0,1-1.1,3.21l4.362,4.362A0.354,0.354,0,0,1,14.891,14.39ZM6.316,2.418a3.9,3.9,0,1,0,3.9,3.9A3.9,3.9,0,0,0,6.316,2.418Z"/></svg>');
        padding-left: 2rem !important;
        -webkit-appearance: none;
    }
}

select {
    &[type='search'], &.search {
        background-repeat: no-repeat;
        background-position: left 0.6rem center;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path opacity="0.45" d="M14.891,14.39l-0.5.5a0.355,0.355,0,0,1-.5,0L9.526,10.529a5.3,5.3,0,1,1,2.106-4.212,5.268,5.268,0,0,1-1.1,3.21l4.362,4.362A0.354,0.354,0,0,1,14.891,14.39ZM6.316,2.418a3.9,3.9,0,1,0,3.9,3.9A3.9,3.9,0,0,0,6.316,2.418Z"/></svg>');
        padding-left: 2rem !important;
        -webkit-appearance: none;
    }
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset'])[type='color'], select[type='color'] {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    transition: 0.3s;
    outline: 0;
    position: relative;
    height: 3rem;
    background-color: #fff;
    padding: 0.55rem 0.8rem !important;
}

@each $name, $color in $colors {
    input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']).input-#{$name}, select.input-#{$name}, textarea.input-#{$name} {
        border-color: $color;
        background-color: lighten($color, 40%);
    }

}

textarea {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 3px;
    font-family: 'Nunito Sans';
    font-size: 1rem;
    letter-spacing: 0.02rem;
    transition: all 0.3s;
    outline: none;
    padding: 0.85rem 1.1rem;
    z-index: 1;
    margin: 0.5rem 0;
    padding: 1rem 1.3rem;
    min-height: 8rem;
    line-height: 1.5rem;
    resize: vertical;

    &[type='text'] {
        width: 100%;
        border: 1px solid #dee2e6;
        border-radius: 3px;
        font-family: 'Nunito Sans';
        font-size: 1rem;
        letter-spacing: 0.02rem;
        transition: all 0.3s;
        outline: none;
        padding: 0.85rem 1.1rem;
        z-index: 1;
        margin: 0.5rem 0;
        padding: 1rem 1.3rem;
        min-height: 8rem;
        line-height: 1.5rem;
        resize: vertical;
    }

    &.input-xsmall, select.input-xsmall {
        font-size: 0.7rem;
        padding: 0.35rem 0.9rem;
    }

    &[type='text'] {
        &.input-xsmall, select.input-xsmall {
            font-size: 0.7rem;
            padding: 0.35rem 0.9rem;
        }
    }

    &.input-small, select.input-small {
        font-size: 0.85rem;
        padding: 0.55rem 1rem;
    }

    &[type='text'] {
        &.input-small, select.input-small {
            font-size: 0.85rem;
            padding: 0.55rem 1rem;
        }
    }

    &.input-large, select.input-large {
        font-size: 1.35rem;
    }

    &[type='text'] {
        &.input-large, select.input-large {
            font-size: 1.35rem;
        }
    }

    &.input-xlarge, select.input-xlarge {
        font-size: 1.75rem;
    }

    &[type='text'] {
        &.input-xlarge, select.input-xlarge {
            font-size: 1.75rem;
        }
    }

    &.input-contains-icon, &.input-contains-icon-left {
        padding-left: 2.75rem;
    }

    &[type='text'] {
        &.input-contains-icon, &.input-contains-icon-left {
            padding-left: 2.75rem;
        }
    }

    &.input-contains-icon-right, &[type='text'].input-contains-icon-right {
        padding-right: 2.75rem;
    }

    &.input-contains-icon.input-xsmall, &.input-contains-icon-right.input-xsmall {
        padding-left: 2rem;
    }

    &[type='text'] {
        &.input-contains-icon.input-xsmall, &.input-contains-icon-right.input-xsmall {
            padding-left: 2rem;
        }
    }

    &.input-contains-icon.input-xsmall ~ .icon, &.input-contains-icon-left.input-xsmall ~ .icon, &.input-contains-icon-right.input-xsmall ~ .icon.icon-right {
        line-height: 1.75rem;
        width: 1.75rem;
        font-size: 7px;
    }

    &[type='text'] {
        &.input-contains-icon.input-xsmall ~ .icon, &.input-contains-icon-left.input-xsmall ~ .icon, &.input-contains-icon-right.input-xsmall ~ .icon.icon-right {
            line-height: 1.75rem;
            width: 1.75rem;
            font-size: 7px;
        }
    }

    &.input-contains-icon.input-small, &.input-contains-icon-right.input-small {
        padding-left: 2.5rem;
    }

    &[type='text'] {
        &.input-contains-icon.input-small, &.input-contains-icon-right.input-small {
            padding-left: 2.5rem;
        }
    }

    &.input-contains-icon.input-small ~ .icon, &.input-contains-icon-left.input-small ~ .icon, &.input-contains-icon-right.input-small ~ .icon.icon-right {
        width: 2.5rem;
        font-size: 14px;
    }

    &[type='text'] {
        &.input-contains-icon.input-small ~ .icon, &.input-contains-icon-left.input-small ~ .icon, &.input-contains-icon-right.input-small ~ .icon.icon-right {
            width: 2.5rem;
            font-size: 14px;
        }
    }

    &.input-contains-icon.input-large, &.input-contains-icon-right.input-large {
        padding-left: 3.5rem;
    }

    &[type='text'] {
        &.input-contains-icon.input-large, &.input-contains-icon-right.input-large {
            padding-left: 3.5rem;
        }
    }

    &.input-contains-icon.input-large ~ .icon, &.input-contains-icon-left.input-large ~ .icon, &.input-contains-icon-right.input-large ~ .icon.icon-right {
        line-height: 3.5rem;
        width: 3.5rem;
        font-size: 28px;
    }

    &[type='text'] {
        &.input-contains-icon.input-large ~ .icon, &.input-contains-icon-left.input-large ~ .icon, &.input-contains-icon-right.input-large ~ .icon.icon-right {
            line-height: 3.5rem;
            width: 3.5rem;
            font-size: 28px;
        }
    }

    &.input-contains-icon.input-xlarge, &.input-contains-icon-right.input-xlarge {
        padding-left: 4rem;
    }

    &[type='text'] {
        &.input-contains-icon.input-xlarge, &.input-contains-icon-right.input-xlarge {
            padding-left: 4rem;
        }
    }

    &.input-contains-icon.input-xlarge ~ .icon, &.input-contains-icon-left.input-xlarge ~ .icon, &.input-contains-icon-right.input-xlarge ~ .icon.icon-right {
        line-height: 2.5rem;
        width: 3.75rem;
        font-size: 35px;
    }

    &[type='text'] {
        &.input-contains-icon.input-xlarge ~ .icon, &.input-contains-icon-left.input-xlarge ~ .icon, &.input-contains-icon-right.input-xlarge ~ .icon.icon-right {
            line-height: 2.5rem;
            width: 3.75rem;
            font-size: 35px;
        }
    }
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']):not([type='reset']):focus, select:focus {
    border-color: #3dabf0;
    box-shadow: 0 0 0 0.2rem rgba(61, 171, 240, 0.45), inset 0px 1px 8px rgba(0, 0, 0, 0.07);
}

textarea {
    &:focus, &[type='text']:focus {
        border-color: #3dabf0;
        box-shadow: 0 0 0 0.2rem rgba(61, 171, 240, 0.45), inset 0px 1px 8px rgba(0, 0, 0, 0.07);
    }
}

input[type='text'].input-focused, .input-focused {
    border-color: #3dabf0;
    box-shadow: 0 0 0 0.2rem rgba(61, 171, 240, 0.45), inset 0px 1px 8px rgba(0, 0, 0, 0.07);
}

select {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 3px;
    font-family: 'Nunito Sans';
    font-size: 1rem;
    letter-spacing: 0.02rem;
    transition: all 0.3s;
    outline: none;
    padding: 0.85rem 1.1rem;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ddd;

    &.input-xsmall, select.input-xsmall {
        font-size: 0.7rem;
        padding: 0.35rem 0.9rem;
    }

    &.input-small, select.input-small {
        font-size: 0.85rem;
        padding: 0.55rem 1rem;
    }

    &.input-large, select.input-large {
        font-size: 1.35rem;
    }

    &.input-xlarge, select.input-xlarge {
        font-size: 1.75rem;
    }

    &.input-contains-icon, &.input-contains-icon-left {
        padding-left: 2.75rem;
    }

    &.input-contains-icon-right {
        padding-right: 2.75rem;
    }

    &.input-contains-icon.input-xsmall, &.input-contains-icon-right.input-xsmall {
        padding-left: 2rem;
    }

    &.input-contains-icon.input-xsmall ~ .icon, &.input-contains-icon-left.input-xsmall ~ .icon, &.input-contains-icon-right.input-xsmall ~ .icon.icon-right {
        line-height: 1.75rem;
        width: 1.75rem;
        font-size: 7px;
    }

    &.input-contains-icon.input-small, &.input-contains-icon-right.input-small {
        padding-left: 2.5rem;
    }

    &.input-contains-icon.input-small ~ .icon, &.input-contains-icon-left.input-small ~ .icon, &.input-contains-icon-right.input-small ~ .icon.icon-right {
        width: 2.5rem;
        font-size: 14px;
    }

    &.input-contains-icon.input-large, &.input-contains-icon-right.input-large {
        padding-left: 3.5rem;
    }

    &.input-contains-icon.input-large ~ .icon, &.input-contains-icon-left.input-large ~ .icon, &.input-contains-icon-right.input-large ~ .icon.icon-right {
        line-height: 3.5rem;
        width: 3.5rem;
        font-size: 28px;
    }

    &.input-contains-icon.input-xlarge, &.input-contains-icon-right.input-xlarge {
        padding-left: 4rem;
    }

    &.input-contains-icon.input-xlarge ~ .icon, &.input-contains-icon-left.input-xlarge ~ .icon, &.input-contains-icon-right.input-xlarge ~ .icon.icon-right {
        line-height: 2.5rem;
        width: 3.75rem;
        font-size: 35px;
    }

    &[multiple] option {
        padding: 0.2rem 0.4rem;
    }

    &.select:not([size]):not([multiple]) {
        background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right 0.85rem (center / 0.5rem) 0.6rem no-repeat;
        -webkit-appearance: none;
    }

    &.input-xsmall {
        padding: 0.65rem 0.9rem;
    }

    &.input-small {
        padding: 0.75rem 1rem;
    }

    &.input-large {
        padding: 0.95rem 1.2rem;
    }

    &.input-xlarge {
        padding: 1.05rem 1.3rem;
    }
}

input {
    &:not([class*='btn-']):disabled, &:not([class*=' btn-']):disabled:hover {
        background-color: #f1f3f5;
        cursor: not-allowed;
        border: 1px solid #f1f3f5;
    }
}

select:disabled, textarea:disabled {
    background-color: #f1f3f5;
    cursor: not-allowed;
    border: 1px solid #f1f3f5;
}

label {
    &.label {
        color: #495057;
        display: inline-block;
        font-weight: bold;
        margin-top: 0.8rem;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    + .input-control {
        margin-top: 0;
    }

    &:first-child:not(:last-child):not(.form-group-label) {
        margin-right: 0.5rem;
    }

    &:not(:first-child):not(:last-child):not(.form-group-label) {
        margin: 0 0.5rem;
    }

    &:last-child:not(:first-child):not(.form-group-label) {
        margin-left: 0.5rem;
    }
}

.required {
    position: relative;
    top: 1px;
    font-weight: bold;
    color: #B31E1D;
    padding-left: 0.1rem;
}

.input-control {
    position: relative;
    margin: 0.5rem 0;
}

.input-contains-icon ~ .icon, .input-contains-icon-left ~ .icon, .input-contains-icon-right ~ .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.input-contains-icon ~ .icon:not(.icon-right), .input-contains-icon-left ~ .icon.icon-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    z-index: 1;
}

.input-contains-icon-right ~ .icon.icon-right {
    position: absolute;
    pointer-events: none;
    line-height: 2.75rem;
    vertical-align: baseline;
    top: 0;
    right: 0;
    width: 3rem;
    z-index: 1;
}

.form-group {
    display: flex;
    display: -ms-flexbox;
    margin: 0.5rem 0;

    .form-group-btn {
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        margin-bottom: 0;

        &:first-child:not(:last-child) {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }

        &:not(:first-child):not(:last-child) {
            border-radius: 0 !important;
            margin-left: -1px;
            margin-right: -1px;
        }

        &:last-child:not(:first-child) {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            margin-left: -1px;
            z-index: 0;
        }
    }

    .form-group-label {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 0.2rem;
        color: #909090;
        margin: 0;
        padding: 0.8rem;
        user-select: none;

        &:first-child:not(:last-child) {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }

        &:not(:first-child):not(:last-child) {
            border-radius: 0 !important;
            margin-left: -1px;
            margin-right: -1px;
        }

        &:last-child:not(:first-child) {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            margin-left: -1px;
            z-index: 0;
        }

        &.label-xsmall {
            font-size: 0.55rem;
            padding: 0.5rem 0.9rem;
        }

        &.label-small {
            font-size: 0.75rem;
            padding: 0.55rem 1rem;
        }

        &.label-large {
            font-size: 1.5rem;
        }

        &.label-xlarge {
            font-size: 2rem;
        }
    }

    .form-group-input {
        &:first-child:not(:last-child) {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }

        &:not(:first-child):not(:last-child) {
            border-radius: 0 !important;
            margin-left: -1px;
            margin-right: -1px;
        }

        &:last-child:not(:first-child) {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            margin-left: -1px;
            z-index: 0;
        }
    }
}

::-moz-placeholder, ::-webkit-input-placeholder {
    color: #a9a9a9;
}

.form-control {
    padding-left: 1.5rem;
    position: relative;

    &.form-ext-checkbox {
        .form-ext-input:checked ~ .form-ext-label:after {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
        }

        .form-ext-label:before {
            border-radius: 0.25rem;
        }
    }

    &.form-ext-radio {
        .form-ext-input:checked ~ .form-ext-label:after {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
        }

        .form-ext-label:before {
            border-radius: 50%;
        }
    }

    .form-ext-input {
        opacity: 0;
        position: absolute;
        z-index: -1;

        &:disabled ~ .form-ext-label {
            opacity: 0.4;
        }

        &:checked ~ .form-ext-label:before {
            background-color: map-get($colors, "primary");
        }

        @each $name, $color in $colors {
            &.form-ext-input-#{$name} {
                &:checked ~ .form-ext-label {
                    color: $color;

                    &:before {
                        background-color: $color;
                    }
                }
            }
        }

        &:disabled ~ .form-ext-toggle-toggler {
            opacity: 0.5;
        }
    }

    .form-ext-toggle-label {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .form-ext-toggle {
        cursor: pointer;
        position: relative;

        input {
            &[type='checkbox'], &[type='radio'] {
                opacity: 0;
                position: absolute;
                z-index: -1;
            }
        }

        .form-ext-toggle-toggler {
            border: 1px solid map-get($colors, "grey");
            border-radius: 6.25rem;
            color: map-get($colors, "grey");
            display: block;
            font-size: 9px;
            height: 1.5rem;
            position: relative;
            width: 3rem;

            i {
                display: inline-block;
            }
        }

        input {
            &[type='checkbox']:checked + {
                .form-ext-toggle-toggler, * .form-ext-toggle-toggler {
                    background-color: map-get($colors, "primary");
                    border-color: map-get($colors, "primary");
                    color: #fff;
                    position: relative;
                    transition: all 0.4s ease;
                }
            }

            &[type='radio']:checked + {
                .form-ext-toggle-toggler, * .form-ext-toggle-toggler {
                    background-color: map-get($colors, "primary");
                    border-color: map-get($colors, "primary");
                    color: #fff;
                    position: relative;
                    transition: all 0.4s ease;
                }
            }

            &[type='checkbox']:checked + {
                .form-ext-toggle-toggler i::after, * .form-ext-toggle-toggler i::after {
                    background-color: #fff;
                    left: calc(100% - 20px);
                }
            }

            &[type='radio']:checked + {
                .form-ext-toggle-toggler i::after, * .form-ext-toggle-toggler i::after {
                    background-color: #fff;
                    left: calc(100% - 20px);
                }
            }

            &[type='checkbox']:checked + {
                .form-ext-toggle-toggler i::before, * .form-ext-toggle-toggler i::before {
                    color: #fff;
                    content: attr(data-check-icon);
                    text-align: left;
                }
            }

            &[type='radio']:checked + {
                .form-ext-toggle-toggler i::before, * .form-ext-toggle-toggler i::before {
                    color: #fff;
                    content: attr(data-check-icon);
                    text-align: left;
                }
            }
        }

        @each $name, $color in $colors {
            &.form-ext-toggle-#{$name} input {
                &[type='checkbox']:checked + {
                    .form-ext-toggle-toggler, * .form-ext-toggle-toggler {
                        background-color: $color;
                        border-color: $color;
                    }
                }

                &[type='radio']:checked + {
                    .form-ext-toggle-toggler, * .form-ext-toggle-toggler {
                        background-color: $color;
                        border-color: $color;
                    }
                }
            }

            .form-ext-toggle-#{$name} .form-ext-toggle-toggler {
                border-color: $color;
                color: $color;

                i::after {
                    background-color: $color;
                }
            }

            .form-ext-input:focus {
                + .form-ext-toggle-toggler, ~ .form-ext-label:before {
                    box-shadow: 0 0 0 0.2rem rgba(213, 213, 213, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
                }
            }

            &.form-ext-toggle-#{$name} .form-ext-input:focus + .form-ext-toggle-toggler {
                box-shadow: 0 0 0 0.2rem rgba(61, 61, 61, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
            }
        }

        .form-ext-toggle-toggler i {
            &::before, &::after {
                content: '';
                display: block;
                position: absolute;
            }

            &::before {
                content: attr(data-uncheck-icon);
                padding: 2px 7px;
                line-height: 18px;
                text-align: right;
                top: 0;
                width: 65%;
                font-size: 12px;
            }

            &::after {
                background-color: map-get($colors, "grey");
                border-radius: 50%;
                height: 16px;
                left: 4px;
                width: 16px;
                transform: translateY(-50%);
                transition: left 0.2s ease;
                text-align: left;
            }
        }
    }

    .form-ext-label {
        margin-bottom: 0;
        position: relative;

        &:before, &:after {
            content: '';
            display: block;
            height: 1rem;
            left: -1.5rem;
            position: absolute;
            top: 0.3rem;
            transition: all 0.2s;
            width: 1rem;
        }

        &:before {
            background-color: map-get($colors, "light");
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
            pointer-events: none;
            user-select: none;
            box-sizing: border-box;
        }

        &:after {
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50% 50%;
        }
    }

    .form-ext-input:checked ~ .form-ext-label:before {
        border: none;
    }
}