.frame {
    border-radius: 3px;
    box-shadow: 0 0.2rem 1.25rem 0 rgba(27, 30, 36, 0.07);
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.frame .frame__header,
.frame .frame__footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    padding: 1rem;
}

.frame .frame__nav {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
}

.frame .frame__body {
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    overflow-y: auto;
    padding: 0 1rem;
}

.frame .frame__title {
    color: #374054;
    font-size: 1rem;
    margin: .75rem auto 0;
}

.frame .frame__subtitle {
    color: rgba(55, 64, 84, 0.6);
    font-size: 1rem;
    margin: 0 auto .75rem;
}
