:root {
    --gap-1:0.25rem;
    --gap-2:0.5rem;
    --gap-3:1rem;
    --gap-4:1.25rem;
    --gap-5:1.5rem;
    --gap-6:2rem;
    --gap-7:3rem;
    --gap-8:4rem;
    --gap-9:5rem;
    --gap-10:7rem;
    --gap-11:9rem;
    --gap-12:12rem;
}

.grid {
    --grid-gap:--gap-2;
    --grid-template-column:repeat(12, minmax(0, 1fr));
    --grid-column-start:auto;
    --grid-column-end:auto;
    --grid-row-start:auto;
    --grid-row-end:auto;
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: var(--grid-template-column);

    &.grid-gap-1 {
        --grid-gap:var(--gap-1);
    }

    &.grid-gap-2 {
        --grid-gap:var(--gap-2);
    }

    &.grid-gap-3 {
        --grid-gap:var(--gap-3);
    }

    &.grid-gap-4 {
        --grid-gap:var(--gap-4);
    }

    &.grid-gap-5 {
        --grid-gap:var(--gap-5);
    }

    &.grid-gap-6 {
        --grid-gap:var(--gap-6);
    }

    &.grid-gap-7 {
        --grid-gap:var(--gap-7);
    }

    &.grid-gap-8 {
        --grid-gap:var(--gap-8);
    }

    &.grid-gap-9 {
        --grid-gap:var(--gap-9);
    }

    &.grid-gap-10 {
        --grid-gap:var(--gap-10);
    }

    &.grid-gap-11 {
        --grid-gap:var(--gap-11);
    }

    &.grid-gap-12 {
        --grid-gap:var(--gap-12);
    }

    &.grid-cols-1 {
        --grid-template-column:repeat(1, minmax(0, 1fr));
    }

    .grid-c-1 {
        grid-column: span 1 / span 1;
    }

    .grid-r-1 {
        grid-row: span 1 / span 1;
    }

    .grid-cs-1 {
        grid-column-start: 1;
    }

    .grid-ce-1 {
        grid-column-end: 2;
    }

    .grid-rs-1 {
        grid-row-start: 1;
    }

    .grid-re-1 {
        grid-row-end: 2;
    }

    &.grid-cols-2 {
        --grid-template-column:repeat(2, minmax(0, 1fr));
    }

    .grid-c-2 {
        grid-column: span 2 / span 2;
    }

    .grid-r-2 {
        grid-row: span 2 / span 2;
    }

    .grid-cs-2 {
        grid-column-start: 2;
    }

    .grid-ce-2 {
        grid-column-end: 3;
    }

    .grid-rs-2 {
        grid-row-start: 2;
    }

    .grid-re-2 {
        grid-row-end: 3;
    }

    &.grid-cols-3 {
        --grid-template-column:repeat(3, minmax(0, 1fr));
    }

    .grid-c-3 {
        grid-column: span 3 / span 3;
    }

    .grid-r-3 {
        grid-row: span 3 / span 3;
    }

    .grid-cs-3 {
        grid-column-start: 3;
    }

    .grid-ce-3 {
        grid-column-end: 4;
    }

    .grid-rs-3 {
        grid-row-start: 3;
    }

    .grid-re-3 {
        grid-row-end: 4;
    }

    &.grid-cols-4 {
        --grid-template-column:repeat(4, minmax(0, 1fr));
    }

    .grid-c-4 {
        grid-column: span 4 / span 4;
    }

    .grid-r-4 {
        grid-row: span 4 / span 4;
    }

    .grid-cs-4 {
        grid-column-start: 4;
    }

    .grid-ce-4 {
        grid-column-end: 5;
    }

    .grid-rs-4 {
        grid-row-start: 4;
    }

    .grid-re-4 {
        grid-row-end: 5;
    }

    &.grid-cols-5 {
        --grid-template-column:repeat(5, minmax(0, 1fr));
    }

    .grid-c-5 {
        grid-column: span 5 / span 5;
    }

    .grid-r-5 {
        grid-row: span 5 / span 5;
    }

    .grid-cs-5 {
        grid-column-start: 5;
    }

    .grid-ce-5 {
        grid-column-end: 6;
    }

    .grid-rs-5 {
        grid-row-start: 5;
    }

    .grid-re-5 {
        grid-row-end: 6;
    }

    &.grid-cols-6 {
        --grid-template-column:repeat(6, minmax(0, 1fr));
    }

    .grid-c-6 {
        grid-column: span 6 / span 6;
    }

    .grid-r-6 {
        grid-row: span 6 / span 6;
    }

    .grid-cs-6 {
        grid-column-start: 6;
    }

    .grid-ce-6 {
        grid-column-end: 7;
    }

    .grid-rs-6 {
        grid-row-start: 6;
    }

    .grid-re-6 {
        grid-row-end: 7;
    }

    &.grid-cols-7 {
        --grid-template-column:repeat(7, minmax(0, 1fr));
    }

    .grid-c-7 {
        grid-column: span 7 / span 7;
    }

    .grid-r-7 {
        grid-row: span 7 / span 7;
    }

    .grid-cs-7 {
        grid-column-start: 7;
    }

    .grid-ce-7 {
        grid-column-end: 8;
    }

    .grid-rs-7 {
        grid-row-start: 7;
    }

    .grid-re-7 {
        grid-row-end: 8;
    }

    &.grid-cols-8 {
        --grid-template-column:repeat(8, minmax(0, 1fr));
    }

    .grid-c-8 {
        grid-column: span 8 / span 8;
    }

    .grid-r-8 {
        grid-row: span 8 / span 8;
    }

    .grid-cs-8 {
        grid-column-start: 8;
    }

    .grid-ce-8 {
        grid-column-end: 9;
    }

    .grid-rs-8 {
        grid-row-start: 8;
    }

    .grid-re-8 {
        grid-row-end: 9;
    }

    &.grid-cols-9 {
        --grid-template-column:repeat(9, minmax(0, 1fr));
    }

    .grid-c-9 {
        grid-column: span 9 / span 9;
    }

    .grid-r-9 {
        grid-row: span 9 / span 9;
    }

    .grid-cs-9 {
        grid-column-start: 9;
    }

    .grid-ce-9 {
        grid-column-end: 10;
    }

    .grid-rs-9 {
        grid-row-start: 9;
    }

    .grid-re-9 {
        grid-row-end: 10;
    }

    &.grid-cols-10 {
        --grid-template-column:repeat(10, minmax(0, 1fr));
    }

    .grid-c-10 {
        grid-column: span 10 / span 10;
    }

    .grid-r-10 {
        grid-row: span 10 / span 10;
    }

    .grid-cs-10 {
        grid-column-start: 10;
    }

    .grid-ce-10 {
        grid-column-end: 11;
    }

    .grid-rs-10 {
        grid-row-start: 10;
    }

    .grid-re-10 {
        grid-row-end: 11;
    }

    &.grid-cols-11 {
        --grid-template-column:repeat(11, minmax(0, 1fr));
    }

    .grid-c-11 {
        grid-column: span 11 / span 11;
    }

    .grid-r-11 {
        grid-row: span 11 / span 11;
    }

    .grid-cs-11 {
        grid-column-start: 11;
    }

    .grid-ce-11 {
        grid-column-end: 12;
    }

    .grid-rs-11 {
        grid-row-start: 11;
    }

    .grid-re-11 {
        grid-row-end: 12;
    }

    &.grid-cols-12 {
        --grid-template-column:repeat(12, minmax(0, 1fr));
    }

    .grid-c-12 {
        grid-column: span 12 / span 12;
    }

    .grid-r-12 {
        grid-row: span 12 / span 12;
    }

    .grid-cs-12 {
        grid-column-start: 12;
    }

    .grid-ce-12 {
        grid-column-end: 13;
    }

    .grid-rs-12 {
        grid-row-start: 12;
    }

    .grid-re-12 {
        grid-row-end: 13;
    }

    .grid-ce-end {
        grid-column-end: -1;
    }

    .grid-re-end {
        grid-row-end: -1;
    }

    .grid-ce-auto {
        grid-column-end: auto;
    }

    .grid-re-auto {
        grid-row-end: auto;
    }
}

@media screen and (max-width: 767px) {
    .grid {
        --grid-template-column:repeat(1, minmax(0, 1fr));
    }
}