.header {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    width: 100%;
    z-index: 100;
    margin-bottom: 20px;
    box-shadow: 0 3px 15px rgba(57, 63, 72, 0.1);
    background-color: #fff;
    max-height: 100vh;
    padding: 0 2rem;
    transition: all 0.3s;
    display: flex;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    a {
        color: var(--header-link-color);

        &:hover {
            color: var(--header-link-color-hover);
        }
    }

    &.header-dark {
        background-color: rgba(0, 0, 0, 0.87);
        color: #fff;
    }

    &.header-clear {
        background-color: transparent;
        box-shadow: none;

        .nav-item .dropdown-menu {
            border-radius: 4px;
        }
    }

    &.header-animated .header-nav {
        -webkit-transition: background 0.4s ease, height 0.4s ease;
        transition: background 0.4s ease, height 0.4s ease;
        -webkit-transition-property: background, height;
        transition-property: background, height;
        -webkit-transition-duration: 0.4s, 0.4s;
        transition-duration: 0.4s, 0.4s;
        -webkit-transition-timing-function: ease, ease;
        transition-timing-function: ease, ease;
        -webkit-transition-delay: initial, initial;
        transition-delay: initial, initial;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .header-nav {
        overflow: auto;
    }

    .header-brand {
        -webkit-overflow-scrolling: touch;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        max-width: 100vw;
        min-height: 3.25rem;
        overflow-x: auto;
        overflow-y: hidden;
    }

    &.header-fixed {
        position: fixed;
        top: 0;
    }

    &:not(.header-clear) .nav-item {
        &:not(.no-hover) {
            &:hover, &.hovered {
                background-color: rgba(216, 216, 216, 0.15);
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }
        }

        &.active {
            background-color: rgba(216, 216, 216, 0.35);

            &:hover {
                background-color: rgba(216, 216, 216, 0.35);
            }
        }
    }

    .nav-btn {
        cursor: pointer;
        display: block;
        height: 3.5rem;
        position: relative;
        width: 3.5rem;
    }

    .btn, button, [type="submit"], [type="reset"], [type="button"] {
        margin: 0;
    }
}

.nav-menu {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    .has-sub {
        position: relative;
    }
}

.nav-overflow-x {
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    overflow-x: scroll;
}

.nav-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0 0.3rem;
    cursor: pointer;

    a {
        align-items: center;
        display: flex;
    }

    .dropdown-menu {
        background-color: #fff;
        position: absolute;
        top: 95%;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-clip: padding-box;
        border: 1px solid #e9ecef;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 0.5rem 1rem rgba(10, 10, 10, 0.1);

        &.dropdown-animated {
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
        }

        > li {
            > a {
                display: block;
                padding: 0.5rem 1rem;
                clear: both;
                line-height: 1.42857143;
                white-space: nowrap;
            }

            margin: 0;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;

            &:hover {
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                background-color: rgba(216, 216, 216, 0.15);
            }

            &:active {
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                background-color: rgba(216, 216, 216, 0.25);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .dropdown-menu-divider {
            border: none;
            background-color: rgba(216, 216, 216, 0.15);
            height: 1px;
            margin: 0.5rem 0;
        }
    }

    &.has-sub .nav-dropdown-link {
        padding-right: 2.5rem;
        position: relative;

        &::after {
            border: 2px solid map-get($colors, "primary");
            border-right: 0;
            border-top: 0;
            display: block;
            height: 0.5em;
            width: 0.5em;
            content: ' ';
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            pointer-events: none;
            margin-top: -0.435em;
            right: 1.125em;
            top: 50%;
            position: absolute;
        }
    }

    .dropdown-menu.dropdown-dark {
        background-color: rgba(0, 0, 0, 0.87);
        border: 1px solid #343a40;
        color: #fff;
    }
}

.header.header-dark .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.87);
    border: 1px solid #343a40;
    color: #fff;
}

.dropdown-menu.dropdown-shown, .nav-item.active {
    opacity: 1;
}

@media screen and (min-width: 769px) {
    .header {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        display: -webkit-box;
        display: -ms-flexbox;

        .header-nav {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-negative: 0;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: relative;
            text-align: center;
            width: 100%;
            top: 0;
            overflow: visible;
        }

        .nav-left {
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            -ms-grid-row-align: stretch;
            align-items: stretch;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            display: flex;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            white-space: nowrap;

            .has-sub .dropdown-menu {
                left: 0;
                right: auto;
            }
        }

        .nav-right {
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            -ms-grid-row-align: stretch;
            align-items: stretch;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            white-space: nowrap;

            .has-sub .dropdown-menu {
                left: auto;
                right: 0;
            }
        }

        .nav-center {
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 0;
            -ms-flex-positive: 0;
            flex-grow: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
        }

        .nav-btn {
            display: none;
        }

        .nav-item {
            a {
                padding: 0.5rem 1rem;
            }

            .dropdown-menu {
                opacity: 0;
                pointer-events: none;

                &.dropdown-animated {
                    -webkit-transform: translateY(-5px);
                    transform: translateY(-5px);
                }

                &.dropdown-shown {
                    opacity: 1;
                    -webkit-transform: none;
                    transform: none;
                    pointer-events: auto;
                }
            }

            &.toggle-hover:hover .dropdown-menu, .dropdown-menu.dropdown-animated.dropdown-shown {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
                pointer-events: auto;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;

        .header-brand .nav-item:first-child {
            padding: 0 1rem;
        }

        .header-nav {
            height: 0;

            &.active {
                height: 100vh;
            }

            .nav-item {
                padding: 1rem;

                > a {
                    padding: 0;
                    width: 100%;
                }
            }
        }
    }

    .nav-item.has-sub {
        display: block;

        .dropdown-menu {
            display: none;

            &.dropdown-shown {
                border-radius: 0;
                box-shadow: none;
                display: block;
                position: relative;
                top: 1rem;
                float: none;
                border: none;
                background-color: transparent;
                margin-bottom: 1rem;
            }

            &.dropdown-dark {
                background-color: rgba(0, 0, 0, 0.17);
                border: 0;
            }
        }
    }

    .nav-btn {
        cursor: pointer;
        display: block;
        position: relative;
        margin-left: auto;

        span {
            background-color: var(--header-link-color);
            display: block;
            height: 2px;
            left: 50%;
            margin-left: -7px;
            position: absolute;
            top: 50%;
            -webkit-transition: none 86ms ease-out;
            transition: none 86ms ease-out;
            -webkit-transition-property: background, left, opacity, -webkit-transform;
            transition-property: background, left, opacity, -webkit-transform;
            transition-property: background, left, opacity, transform;
            transition-property: background, left, opacity, transform, -webkit-transform;
            width: 15px;

            &:nth-child(1) {
                margin-top: -6px;
            }

            &:nth-child(2) {
                margin-top: -1px;
            }

            &:nth-child(3) {
                margin-top: 4px;
            }
        }

        &.active span {
            &:nth-child(1) {
                margin-left: -5px;
                transform: rotate(45deg);
                transform-origin: left top;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                margin-left: -5px;
                transform: rotate(-45deg);
                transform-origin: left bottom;
            }
        }
    }

    .nav-left, .nav-center, .nav-right {
        overflow: hidden;
    }

    .header .nav-item.has-sub.toggle-hover:not(.no-hover):hover > .dropdown-menu {
        border-radius: 0;
        box-shadow: none;
        display: block;
        position: relative;
        top: 1rem;
        float: none;
        border: none;
        background-color: transparent;
        margin-bottom: 1rem;
    }
}