section {
    display: block;
}

.content {
    max-width: 60em;
    margin: 0 auto 1.5em;
    width: 80%;
}

.fullscreen {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
}

.divider {
    border-top: 0.05rem solid rgba(173, 181, 189, 0.5);
    height: 0.1rem;
    margin: 1.8rem 0 1.6rem;
    position: relative;

    &[data-content] {
        margin: 0.8rem 0;
    }
}

.divider--v[data-content]::after, .divider[data-content]::after {
    background: #fff;
    color: #adb5bd;
    content: attr(data-content);
    left: 50%;
    display: inline-block;
    padding: 0 0.4rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
}

.divider--v {
    display: block;
    padding: 0.8rem;

    &[data-content] {
        display: block;
        padding: 0.8rem;
    }

    &::before {
        border-left: 0.05rem solid rgba(173, 181, 189, 0.5);
        bottom: 0.4rem;
        content: '';
        display: block;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
    }

    &[data-content] {
        &::before {
            border-left: 0.05rem solid rgba(173, 181, 189, 0.5);
            bottom: 0.4rem;
            content: '';
            display: block;
            left: 50%;
            position: absolute;
            top: 0;
            transform: translateX(-50%);
        }

        left: 50%;
        padding: 0.2rem 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.hero-img {
    background-size: cover;
}

.parallax-img {
    background-attachment: fixed !important;
}

.hero {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .hero-body {
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        padding: 3rem 1.5rem;
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
    }
}

.space {
    display: block;
    width: 100%;
    height: 1rem;

    &.large {
        padding: 1rem 0;
    }

    &.xlarge {
        padding: 2rem 0;
    }
}

.row {
    -ms-flex: 1;
    flex: 1;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    display: flex;

    &::after {
        content: '';
        clear: both;
        display: table;
    }

    &.row--no-wrap {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .col {
        display: block;
        flex: 1;
        padding: 0.15rem 0.75rem;
    }

    .offset-right {
        margin-left: 0;
        margin-right: auto;
    }

    .offset-center {
        margin-left: auto;
        margin-right: auto;
    }

    .offset-left {
        margin-left: auto;
        margin-right: 0;
    }

    &.divided {
        [class^='col'], [class*=' col'] {
            box-shadow: 0 -1px 0 0 rgba(173, 181, 189, 0.5);
        }
    }

    [class^='col-'], [class*=' col-'] {
        width: 100%;
        margin-left: 0;
        padding: 0 0.5rem;
    }

    .col-xs-1 {
        width: 8.33333%;
    }

    .offset-1 {
        margin-left: 8.33333%;
    }

    .col-xs-2 {
        width: 16.66667%;
    }

    .offset-2 {
        margin-left: 16.66667%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .offset-3 {
        margin-left: 25%;
    }

    .col-xs-4 {
        width: 33.33333%;
    }

    .offset-4 {
        margin-left: 33.33333%;
    }

    .col-xs-5 {
        width: 41.66667%;
    }

    .offset-5 {
        margin-left: 41.66667%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .offset-6 {
        margin-left: 50%;
    }

    .col-xs-7 {
        width: 58.33333%;
    }

    .offset-7 {
        margin-left: 58.33333%;
    }

    .col-xs-8 {
        width: 66.66667%;
    }

    .offset-8 {
        margin-left: 66.66667%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .offset-9 {
        margin-left: 75%;
    }

    .col-xs-10 {
        width: 83.33333%;
    }

    .offset-10 {
        margin-left: 83.33333%;
    }

    .col-xs-11 {
        width: 91.66667%;
    }

    .offset-11 {
        margin-left: 91.66667%;
    }

    .col-xs-12 {
        width: 100%;
    }

    .offset-12 {
        margin-left: 100%;
    }

    &.no-space {
        [class^='col-'], [class*=' col-'] {
            padding: 0;
        }
    }
}

@media screen and (min-width: 640px) {
    .row .col-sm-1 {
        width: 8.33333%;
    }
}

@media screen and (min-width: 640px) {
    .row .col-sm-2 {
        width: 16.66667%;
    }
}

@media screen and (min-width: 640px) {
    .row .col-sm-3 {
        width: 25%;
    }
}

@media screen and (min-width: 640px) {
    .row .col-sm-4 {
        width: 33.33333%;
    }
}

@media screen and (min-width: 640px) {
    .row .col-sm-5 {
        width: 41.66667%;
    }
}

@media screen and (min-width: 640px) {
    .row .col-sm-6 {
        width: 50%;
    }
}

@media screen and (min-width: 640px) {
    .row .col-sm-7 {
        width: 58.33333%;
    }
}

@media screen and (min-width: 640px) {
    .row .col-sm-8 {
        width: 66.66667%;
    }
}

@media screen and (min-width: 640px) {
    .row .col-sm-9 {
        width: 75%;
    }
}

@media screen and (min-width: 640px) {
    .row .col-sm-10 {
        width: 83.33333%;
    }
}

@media screen and (min-width: 640px) {
    .row .col-sm-11 {
        width: 91.66667%;
    }
}

@media screen and (min-width: 640px) {
    .row .col-sm-12 {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .row {
        .col-md-1, .col-1 {
            width: 8.33333%;
        }
    }
}

@media screen and (min-width: 768px) {
    .row {
        .col-md-2, .col-2 {
            width: 16.66667%;
        }
    }
}

@media screen and (min-width: 768px) {
    .row {
        .col-md-3, .col-3 {
            width: 25%;
        }
    }
}

@media screen and (min-width: 768px) {
    .row {
        .col-md-4, .col-4 {
            width: 33.33333%;
        }
    }
}

@media screen and (min-width: 768px) {
    .row {
        .col-md-5, .col-5 {
            width: 41.66667%;
        }
    }
}

@media screen and (min-width: 768px) {
    .row {
        .col-md-6, .col-6 {
            width: 50%;
        }
    }
}

@media screen and (min-width: 768px) {
    .row {
        .col-md-7, .col-7 {
            width: 58.33333%;
        }
    }
}

@media screen and (min-width: 768px) {
    .row {
        .col-md-8, .col-8 {
            width: 66.66667%;
        }
    }
}

@media screen and (min-width: 768px) {
    .row {
        .col-md-9, .col-9 {
            width: 75%;
        }
    }
}

@media screen and (min-width: 768px) {
    .row {
        .col-md-10, .col-10 {
            width: 83.33333%;
        }
    }
}

@media screen and (min-width: 768px) {
    .row {
        .col-md-11, .col-11 {
            width: 91.66667%;
        }
    }
}

@media screen and (min-width: 768px) {
    .row {
        .col-md-12, .col-12 {
            width: 100%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .row .col-lg-1 {
        width: 8.33333%;
    }
}

@media screen and (min-width: 1024px) {
    .row .col-lg-2 {
        width: 16.66667%;
    }
}

@media screen and (min-width: 1024px) {
    .row .col-lg-3 {
        width: 25%;
    }
}

@media screen and (min-width: 1024px) {
    .row .col-lg-4 {
        width: 33.33333%;
    }
}

@media screen and (min-width: 1024px) {
    .row .col-lg-5 {
        width: 41.66667%;
    }
}

@media screen and (min-width: 1024px) {
    .row .col-lg-6 {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .row .col-lg-7 {
        width: 58.33333%;
    }
}

@media screen and (min-width: 1024px) {
    .row .col-lg-8 {
        width: 66.66667%;
    }
}

@media screen and (min-width: 1024px) {
    .row .col-lg-9 {
        width: 75%;
    }
}

@media screen and (min-width: 1024px) {
    .row .col-lg-10 {
        width: 83.33333%;
    }
}

@media screen and (min-width: 1024px) {
    .row .col-lg-11 {
        width: 91.66667%;
    }
}

@media screen and (min-width: 1024px) {
    .row .col-lg-12 {
        width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .row .col-xl-1 {
        width: 8.33333%;
    }
}

@media screen and (min-width: 1280px) {
    .row .col-xl-2 {
        width: 16.66667%;
    }
}

@media screen and (min-width: 1280px) {
    .row .col-xl-3 {
        width: 25%;
    }
}

@media screen and (min-width: 1280px) {
    .row .col-xl-4 {
        width: 33.33333%;
    }
}

@media screen and (min-width: 1280px) {
    .row .col-xl-5 {
        width: 41.66667%;
    }
}

@media screen and (min-width: 1280px) {
    .row .col-xl-6 {
        width: 50%;
    }
}

@media screen and (min-width: 1280px) {
    .row .col-xl-7 {
        width: 58.33333%;
    }
}

@media screen and (min-width: 1280px) {
    .row .col-xl-8 {
        width: 66.66667%;
    }
}

@media screen and (min-width: 1280px) {
    .row .col-xl-9 {
        width: 75%;
    }
}

@media screen and (min-width: 1280px) {
    .row .col-xl-10 {
        width: 83.33333%;
    }
}

@media screen and (min-width: 1280px) {
    .row .col-xl-11 {
        width: 91.66667%;
    }
}

@media screen and (min-width: 1280px) {
    .row .col-xl-12 {
        width: 100%;
    }
}

.r {
    max-width: 100%;
    padding: 0.5rem;
}

.level {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .level-item {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .level-content {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        text-align: left;
        width: 100%;
    }
}

.w-10 {
    width: 10%;
}

.h-10 {
    height: 10%;
}

.w-20 {
    width: 20%;
}

.h-20 {
    height: 20%;
}

.w-30 {
    width: 30%;
}

.h-30 {
    height: 30%;
}

.w-40 {
    width: 40%;
}

.h-40 {
    height: 40%;
}

.w-50 {
    width: 50%;
}

.h-50 {
    height: 50%;
}

.w-60 {
    width: 60%;
}

.h-60 {
    height: 60%;
}

.w-70 {
    width: 70%;
}

.h-70 {
    height: 70%;
}

.w-80 {
    width: 80%;
}

.h-80 {
    height: 80%;
}

.w-90 {
    width: 90%;
}

.h-90 {
    height: 90%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.w-auto {
    width: auto !important;
}

.h-auto {
    height: auto !important;
}

@media screen and (min-width: 768px) {
    .level, .level-left, .level-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (min-width: 769px) {
    .level-right {
        margin-left: 1rem;
    }

    .level.fill-height {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    .row {
        margin-top: 0;
    }

    .divided > .row {
        [class^='col-'], [class*=' col-'] {
            box-shadow: 0 -1px 0 0 rgba(34, 36, 38, 0.15);
        }
    }

    .level.ignore-screen, .level-left.ignore-screen, .level-right.ignore-screen {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .level.fill-height {
        display: inherit;
    }

    .hero-body {
        padding: 0;
    }
}