@each $containerN, $containerWidth in $container-widths {
    $containerName: '';
    @if $containerWidth == 0px {
        @each $type in (margin, padding) {
            @each $sizeN, $sizeRatio in ("none":0, "auto":auto, "x025":0.25, "x05":0.5, "":1, "x15":1.5, "x2":2, "x25":2.5, "x3":3, "x4":4, "x5":5) {
                $size:$sizeRatio;
                @if $sizeRatio != "auto" {
                    $size:#{$sizeRatio * $margins-paddings-size};
                    @if $sizeRatio == 0 {
                        $size:0;
                    }
                }

                $sizeName: '';
                @if $sizeN != '' {
                    $sizeName:'-'+$sizeN;
                }

                @each $side in ('',top, right, bottom, left) {
                    $sideName:$side;
                    @if $side != '' {
                        $sideName:'-'+$side;
                    }
                    .#{$type}#{$sideName}#{$sizeName} {
                        #{$type}#{$sideName}:#{$size};
                    }
                }

                .#{$type}-x#{$sizeName} {
                    #{$type}-right:#{$size};
                    #{$type}-left:#{$size};
                }
                .#{$type}-y#{$sizeName} {
                    #{$type}-top:#{$size};
                    #{$type}-bottom:#{$size};
                }
            }
        }
    } @else {
        $containerName:'-'+$containerN;

        @media (min-width: $containerWidth) {
            @each $type in (margin, padding) {
                @each $sizeN, $sizeRatio in ("none":0, "auto":auto, "x025":0.25, "x05":0.5, "":1, "x15":1.5, "x2":2, "x25":2.5, "x3":3, "x4":4, "x5":5) {
                    $size:$sizeRatio;
                    @if $sizeRatio != "auto" {
                        $size:#{$sizeRatio * $margins-paddings-size};
                        @if $sizeRatio == 0 {
                            $size:0;
                        }
                    }

                    $sizeName: '';
                    @if $sizeN != '' {
                        $sizeName:'-'+$sizeN;
                    }

                    @each $side in ('',top, right, bottom, left) {
                        $sideName:$side;
                        @if $side != '' {
                            $sideName:'-'+$side;
                        }
                        .#{$type}#{$sideName}#{$containerName}#{$sizeName} {
                            #{$type}#{$sideName}:#{$size};
                        }
                    }

                    .#{$type}-x#{$containerName}#{$sizeName} {
                        #{$type}-right:#{$size};
                        #{$type}-left:#{$size};
                    }
                    .#{$type}-y#{$containerName}#{$sizeName} {
                        #{$type}-top:#{$size};
                        #{$type}-bottom:#{$size};
                    }
                }
            }
        }
    }
}