.p-static {
    position: static !important;
}

.p-fixed {
    position: fixed !important;
}

.p-absolute {
    position: absolute !important;
}

.p-relative {
    position: relative !important;
}

.p-sticky {
    position: sticky !important;
}

@media screen and (min-width: 640px) {
    .p-static-sm {
        position: static !important;
    }
}

@media screen and (min-width: 640px) {
    .p-fixed-sm {
        position: fixed !important;
    }
}

@media screen and (min-width: 640px) {
    .p-absolute-sm {
        position: absolute !important;
    }
}

@media screen and (min-width: 640px) {
    .p-relative-sm {
        position: relative !important;
    }
}

@media screen and (min-width: 640px) {
    .p-sticky-sm {
        position: sticky !important;
    }
}

@media screen and (min-width: 768px) {
    .p-static-md {
        position: static !important;
    }
}

@media screen and (min-width: 768px) {
    .p-fixed-md {
        position: fixed !important;
    }
}

@media screen and (min-width: 768px) {
    .p-absolute-md {
        position: absolute !important;
    }
}

@media screen and (min-width: 768px) {
    .p-relative-md {
        position: relative !important;
    }
}

@media screen and (min-width: 768px) {
    .p-sticky-md {
        position: sticky !important;
    }
}

@media screen and (min-width: 1024px) {
    .p-static-lg {
        position: static !important;
    }
}

@media screen and (min-width: 1024px) {
    .p-fixed-lg {
        position: fixed !important;
    }
}

@media screen and (min-width: 1024px) {
    .p-absolute-lg {
        position: absolute !important;
    }
}

@media screen and (min-width: 1024px) {
    .p-relative-lg {
        position: relative !important;
    }
}

@media screen and (min-width: 1024px) {
    .p-sticky-lg {
        position: sticky !important;
    }
}

@media screen and (min-width: 1280px) {
    .p-static-xl {
        position: static !important;
    }
}

@media screen and (min-width: 1280px) {
    .p-fixed-xl {
        position: fixed !important;
    }
}

@media screen and (min-width: 1280px) {
    .p-absolute-xl {
        position: absolute !important;
    }
}

@media screen and (min-width: 1280px) {
    .p-relative-xl {
        position: relative !important;
    }
}

@media screen and (min-width: 1280px) {
    .p-sticky-xl {
        position: sticky !important;
    }
}
