.table {
    margin-bottom: 1.5rem;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;

    td, th {
        border: 1px solid rgba(222, 226, 230, 0.5);
        border-width: 0 0 1px;
        padding: 0.75rem;
        vertical-align: top;
        text-align: inherit;
        margin: 0;
    }

    tr {
        transition: all 0.3s;

        &.selected {
            background-color: map-get($colors, "primary");
            color: #fff;
        }
    }

    .table caption {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        color: #dee2e6;
        text-align: left;
        caption-side: bottom;
    }

    tr:not(.selected):hover, &.striped tbody tr:not(.selected):nth-child(even):hover {
        background-color: rgba(222, 226, 230, 0.15);
    }

    thead {
        th {
            border-bottom: 2px solid rgba(222, 226, 230, 0.5);
            padding: 1rem;
        }

        border-bottom: 2px solid rgba(222, 226, 230, 0.5);
    }

    tfoot th {
        padding: 1rem;
        border-top: 2px solid rgba(222, 226, 230, 0.5);
        border-bottom: none;
    }

    &.bordered {
        thead {
            th {
                border-bottom: 1px solid rgba(222, 226, 230, 0.5);
            }

            border-bottom: 1px solid rgba(222, 226, 230, 0.5);
        }

        td, th {
            border: 1px solid rgba(219, 219, 219, 0.5);
        }

        thead {
            td {
                border-width: 1px;
            }

            border-width: 1px;
        }
    }

    &.striped tbody tr:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    &.small {
        td, th {
            padding: 0.25rem 0.75rem;
        }
    }

    &.fixed-head {
        thead {
            position: relative;
            display: block;
        }

        tbody {
            min-height: 200px;
            display: block;
            overflow: auto;
        }

        tr {
            display: table;
            width: 100%;
        }
    }

    &.borderless {
        thead th, th, td {
            border: none;
        }
    }
}