.table {
    &-zebra {
        @each $name, $color in $colors {
            @each $nthChildType in (odd, even) {
                &-#{$nthChildType}-#{$name} tr:nth-child(#{$nthChildType}) {
                    background: $color;
                }
            }
        }
    }
}

.table-flat {
    border-spacing: 0;
    border-collapse: collapse;
}