.tag {
    align-items: center;
    background-color: map-get($colors, "light");
    border-radius: 0.25rem;
    display: inline-flex;
    font-size: 75%;
    line-height: 1.5;
    min-height: 1.5rem;
    padding: 0 0.5rem;
    white-space: nowrap;

    &.tag-large {
        font-size: 120%;
        padding: 0.25rem 0.75rem;
    }

    &.tag-xlarge {
        font-size: 150%;
        padding: 0.5rem 1.25rem;
    }

    &.tag-rounded {
        border-radius: 290486px;
    }

    &.tag-delete {
        background-color: rgba(10, 10, 10, 0.2);
        border-radius: 290486px;
        cursor: pointer;
        pointer-events: auto;
        display: inline-block;
        height: 16px;
        max-height: 16px;
        max-width: 16px;
        min-height: 16px;
        min-width: 16px;
        position: relative;

        &:hover {
            background-color: rgba(10, 10, 10, 0.3);
        }

        &::before, &::after {
            background-color: map-get($colors, "light");
            content: '';
            display: block;
            left: 50%;
            position: absolute;
            top: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            -webkit-transform-origin: center center;
            transform-origin: center center;
        }

        &::before {
            height: 1px;
            width: 50%;
        }

        &::after {
            height: 50%;
            width: 1px;
        }

        margin-left: 0.25rem;
        margin-right: -0.125rem;
    }

    @each $name, $color in $colors {
        &.tag-#{$name} {
            background-color: $color;
            color: choose-contrast-color($color);

            &.tag-close-btn {
                &:hover {
                    background-color: darken($color, 10%);
                }

                &:active {
                    background-color: darken($color, 15%);
                }
            }
        }
    }

    &.tag-close-btn {
        padding: 0;
        position: relative;
        width: 1.5rem;

        &::before, &::after {
            background-color: map-get($colors, "dark");
            content: '';
            display: block;
            left: 50%;
            top: 50%;
            position: absolute;
            -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            -webkit-transform-origin: center center;
            transform-origin: center center;
        }

        &::before {
            height: 1px;
            width: 50%;
        }

        &::after {
            height: 50%;
            width: 1px;
        }
    }
}

.tag-container {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &.group-tags {
        display: flex;
        flex-wrap: wrap;

        .tag {
            margin-right: 0 !important;

            &:first-child {
                border-radius: 0.25rem 0 0 0.25rem;
            }

            &:not(:first-child):not(:last-child) {
                border-radius: 0;
            }

            &:last-child {
                border-radius: 0 0.25rem 0.25rem 0;
            }
        }

        &.group-tags-rounded {
            .tag {
                &:first-child {
                    border-radius: 290486px 0 0 290486px;
                }
                &:last-child {
                    border-radius: 0 290486px 290486px 0;
                }
            }
        }
    }

    &.tag-container-centered {
        justify-content: center;

        .tag {
            margin: 0 0.25rem;
        }
    }

    &.tag-container-right {
        justify-content: flex-end;

        .tag {
            &:not(:first-child) {
                margin-left: 0.5rem;
            }

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }

    .tag {
        margin-bottom: 0.5rem;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }
}

a.tag:hover {
    text-decoration: underline;
}