.tag {
    align-items: center;
    background-color: var(--cirrus-light);
    border-radius: 0.25rem;
    color: var(--cirrus-fg);
    display: inline-flex;
    font-size: 75%;
    line-height: 1.5;
    min-height: 1.5rem;
    padding: 0 0.5rem;
    white-space: nowrap;

    &.tag--large {
        font-size: 120%;
        padding: 0.25rem 0.75rem;
    }

    &.tag--xlarge {
        font-size: 150%;
        padding: 0.5rem 1.25rem;
    }

    &.tag--rounded {
        border-radius: 290486px;
    }

    &.tag__delete {
        background-color: rgba(10, 10, 10, 0.2);
        border-radius: 290486px;
        cursor: pointer;
        pointer-events: auto;
        display: inline-block;
        height: 16px;
        max-height: 16px;
        max-width: 16px;
        min-height: 16px;
        min-width: 16px;
        position: relative;

        &:hover {
            background-color: rgba(10, 10, 10, 0.3);
        }

        &::before, &::after {
            background-color: var(--cirrus-light);
            content: '';
            display: block;
            left: 50%;
            position: absolute;
            top: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            -webkit-transform-origin: center center;
            transform-origin: center center;
        }

        &::before {
            height: 1px;
            width: 50%;
        }

        &::after {
            height: 50%;
            width: 1px;
        }

        margin-left: 0.25rem;
        margin-right: -0.125rem;
    }

    &.tag--white {
        background-color: #fff;
        color: var(--cirrus-dark);
    }

    &.tag--black {
        background-color: #000;
        color: #fff;
    }

    &.tag--primary {
        background-color: map-get($colors, "primary");
        color: #fff;
        background-color: #f03d4d;
        color: #fff;
        cursor: pointer;

        &.tag__close-btn {
            &:hover {
                background-color: #ee2537;
            }

            &:active {
                background-color: #e81225;
            }
        }
    }

    &.tag--gray {
        background-color: #d5d7dc;
        color: #fff;
        cursor: pointer;

        &.tag__close-btn {
            &:hover {
                background-color: #c7cad0;
            }

            &:active {
                background-color: #b9bdc5;
            }
        }
    }

    &.tag--dark {
        background-color: #363636;
        color: #fff;
        cursor: pointer;

        &.tag__close-btn {
            &:hover {
                background-color: #292929;
            }

            &:active {
                background-color: #1d1d1d;
            }
        }
    }

    &.tag--link {
        background-color: #5e5cc7;
        color: #fff;
        cursor: pointer;

        &.tag__close-btn {
            &:hover {
                background-color: #4b49c0;
            }

            &:active {
                background-color: #403db3;
            }
        }
    }

    &.tag--info {
        background-color: #2972fa;
        color: #fff;
        cursor: pointer;

        &.tag__close-btn {
            &:hover {
                background-color: #1062f9;
            }

            &:active {
                background-color: #0555eb;
            }
        }
    }

    &.tag--success {
        background-color: #0dd157;
        color: #fff;
        cursor: pointer;

        &.tag__close-btn {
            &:hover {
                background-color: #0cb94d;
            }

            &:active {
                background-color: #0aa143;
            }
        }
    }

    &.tag--warning {
        background-color: #fab633;
        color: #fff;
        cursor: pointer;

        &.tag__close-btn {
            &:hover {
                background-color: #f9ad1a;
            }

            &:active {
                background-color: #f4a306;
            }
        }
    }

    &.tag--danger {
        background-color: #fb4143;
        color: #fff;
        cursor: pointer;

        &.tag__close-btn {
            &:hover {
                background-color: #fa282a;
            }

            &:active {
                background-color: #fa0f12;
            }
        }
    }

    &.tag__close-btn {
        padding: 0;
        position: relative;
        width: 1.5rem;

        &::before, &::after {
            background-color: var(--cirrus-fg);
            content: '';
            display: block;
            left: 50%;
            top: 50%;
            position: absolute;
            -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            -webkit-transform-origin: center center;
            transform-origin: center center;
        }

        &::before {
            height: 1px;
            width: 50%;
        }

        &::after {
            height: 50%;
            width: 1px;
        }
    }
}

.tag-container {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &.group-tags {
        --tag-first-border-radius:0.25rem 0 0 0.25rem;
        --tag-last-border-radius:0 0.25rem 0.25rem 0;
        display: flex;
        flex-wrap: wrap;

        .tag {
            margin-right: 0 !important;

            &:first-child {
                border-radius: var(--tag-first-border-radius);
            }

            &:not(:first-child):not(:last-child) {
                border-radius: 0;
            }

            &:last-child {
                border-radius: var(--tag-last-border-radius);
            }
        }

        &.group-tags--rounded {
            --tag-first-border-radius:290486px 0 0 290486px;
            --tag-last-border-radius:0 290486px 290486px 0;
        }
    }

    &.tag-container--centered {
        justify-content: center;

        .tag {
            margin: 0 0.25rem;
        }
    }

    &.tag-container--right {
        justify-content: flex-end;

        .tag {
            &:not(:first-child) {
                margin-left: 0.5rem;
            }

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }

    .tag {
        margin-bottom: 0.5rem;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }
}

a.tag:hover {
    text-decoration: underline;
}