.tile {
    display: flex;
    display: -ms-flexbox;
    align-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    overflow: inherit;

    p {
        font-size: 0.95rem;
    }

    .tile__icon {
        flex: 0 0 auto;
    }

    .tile__buttons {
        flex: 0 0 auto;

        button, .btn, [type="submit"] {
            display: inline-block;
            margin: 0.1rem;
        }
    }

    .tile__container {
        flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;

        &:not(:first-child) {
            padding-left: 1rem;
        }

        &:not(:last-child) {
            padding-right: 1rem;
        }
    }

    .tile__title {
        line-height: 1.5rem;
        font-weight: bolder;
        margin: 0.1rem auto;
    }

    .tile__subtitle {
        line-height: 1.25rem;
        opacity: 0.7;
        margin: 0.1rem auto;
    }
}