.toast {
    display: block;
    width: 100%;
    padding: 0.75rem 1.25rem;
    background-color: rgba(49, 59, 80, 0.9);
    border: 1px solid rgba(49, 59, 80, 0.9);
    border-radius: 2px;
    color: #fff;
    position: relative;
    margin: 0.5rem;

    &.toast-translucent {
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    p {
        margin: 0;
    }

    a {
        color: map-get($colors, "light");
        transition: all 0.3s;

        &:hover {
            opacity: 0.8;
            transition: all 0.3s;
        }
    }

    .toast-title {
        margin: 0;
        margin-top: 1rem;
    }

    .btn-close {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    @each $name, $color in $colors {
        &.toast-#{$name} {
            background-color: $color;
            border-color: darken($color, 5%);
        }
    }
}