$baseColors:$colors;

$colors: map-merge($colors, (
"transparent":transparent
));

@each $name, $color in $colors {
    $colors: map-merge($colors, (
        "#{$name}-darken":darken($color, 15%),
        "#{$name}-lighten":lighten($color, 15%),
        ));
}

@function choose-contrast-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    }
    @else {
        @return #FFF;
    }
}

$var-element:'--';