// === Couleurs === //
$colors: (
"primary": #1E96FC,
"secondary": #336EEF,
"complementary": #FDE74C,
"conf": #2ECC71,
"err": #E74C3C,
"info": #0097E6,
"warn": #F1C40F,
"light": #F7FAFC,
"dark": #2A282A,
"white": #FBFEF9,
"black": #1A202C,
"grey": #919193,
"blue": #3366CC,
"cyan": #3399CC,
"green": #66CC66,
"orange": #ED8936,
"pink": #FFC0CB,
"purple": #CC66FF,
"red": #E84118,
"turquoise": #40E0D0,
"yellow": #FBC531
);

// === Padding et margin === //
$paddings-margins-size:1rem;

// === Grid === //
$container-widths: (
"xs": 0px,
"s": 576px,
"m": 768px,
"l": 996px,
"xl": 1200px
);